---
import { getCollection } from "astro:content";
import BaseBlog from "../../layouts/BaseBlog.astro";
import FormattedDate from '../../components/FormattedDate.astro';

export async function getStaticPaths() {
    const allPosts = await getCollection("blog");
    const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
];

return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
        post.data.tags.includes(tag)
    );
    return {
        params: { tag },
        props: { posts: filteredPosts },
    };
});
}

// const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseBlog>
    <!-- Card -->
    <ul class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 gap-y-6 list-none m-0 p-0 md:gap-4">
        {
            posts.map((post) => (
                <li class=" first:max-w-full first:col-start-1 first:col-end-4 w-full first:mb-4 first:text-center md:text-center md:first:mb-0">
                    <a class=" block" href={`/blog/${post.slug}/`}>

                        <img class=" w-full h-72 mb-2 rounded-xl" src={post.data.heroImage} alt="" />
                        <h3 class=" m-0 text-black md:first:text-2xl">{post.data.title}</h3>
                        <p class=" m-0 text-black">
                            <FormattedDate date={post.data.pubDate} />
                        </p>
                        <p class=" m-0 text-black text-sm px-6 leading-4">{post.data.description}</p>

                    </a>
                </li>
            ))
        }
    </ul>
</BaseBlog>
