---
import BaseHead from '../../components/BaseHead.astro';
import Navigation from '../../components/Navigation.astro';
import Footer from '../../components/Footer.astro';
import SocialMedia from '../../components/SocialMedia.astro';
import FilAriane from '../../components/FilAriane.astro'
import FormattedDate from '../../components/FormattedDate.astro';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_BLOG } from '../../consts';
import { getCollection } from 'astro:content';


const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const tags = [...new Set(posts.map((post) => post.data.tags).flat())];

---

<!doctype html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=GTM-P3R88NLC"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'GTM-P3R88NLC');
		</script>

		<!-- Filtre Catégorie -->
		<script>
			document.addEventListener("DOMContentLoaded", () => {
				const button = document.getElementById("filter-button");
				const menu = document.getElementById("filter-menu");
			
				button.addEventListener("click", () => {
					menu.classList.toggle("hidden");
				});

				document.addEventListener("click", (event) => {
					if (!button.contains(event.target) && !menu.contains(event.target)) {
					menu.classList.add("hidden");
					}
				});
			});
		</script>
		
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.calcul {
				width: cal(50% - 1rem);
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
		</style>
	</head>
	<body class=" bg-white-light">
		
		<div class="flex flex-col min-h-dvh">

			<!-- Head -->
			<header class=" bg-gradient-head-green-light bg-center bg-cover">
				
				<Navigation />

				<!-- Container -->
				<div class="container">

					<!-- Head - Content -->
					<div class=" relative flex flex-col pt-16 pb-16">

						<div class=" z-10 flex flex-row justify-center pt-2 pb-2">
							<h2 class=" text-center uppercase text-6xl xl:text-7xl font-bold ">{SITE_BLOG}</h2>
						</div>

						<FilAriane />

					</div>
				</div>

			</header>

			<main class=" m-4 sm:m-0">

				<section class=" pb-8">
					<div class=" container">
						<!-- Tag -->
						<div class="pb-2 flex flex-row items-center justify-end gap-4">
							<div class=" relative">
								<!-- Bouton Filtrer par Catégorie -->
								<button class=" px-4 py-2 bg-yellow-base hover:bg-yellow-dark text-white text-sm rounded-lg" id="filter-button">Filtrer par catégorie</button>
								
								<!-- Liste déroulante -->
								<ul id="filter-menu" class="hidden absolute -left-[63px] mt-2 w-56 bg-white border shadow-lg rounded-lg overflow-hidden z-50">
									<li class="py-2 px-4 border-b hover:bg-gray-100">
										<a class="block w-full text-sm text-black font-bold" href="/blog">Toutes les catégories</a>
									</li>

									{tags.map((tag) => (<li data-key={tag} class="py-2 px-4 border-b hover:bg-gray-100">
										<a class="block w-full text-sm text-black" href={`/blog/${tag}/`}>
										{tag}
										</a>
									</li>))}
								</ul>
							</div>
						</div>
	
						<!-- Card -->
						<ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 gap-y-6 list-none m-0 p-0 md:gap-4">
							{posts.map((post) => (<li class="first:max-w-full md:first:col-start-1 md:first:col-end-3 lg:first:col-start-1 lg:first:col-end-4 w-full first:mb-4 text-center md:first:text-center md:first:mb-0 group">
								<a class="block relative overflow-hidden " href={`/blog/${post.slug}/`}>
						
									<img class="w-full h-80 mb-2 rounded-xl grayscale transition-all duration-500" 
										src={post.data.heroImage} alt="" />
							
									<div class="p-4 md:absolute md:inset-0 md:flex md:flex-col md:justify-center md:items-center md:bg-black md:bg-opacity-50 md:opacity-0 md:transition-opacity md:duration-500 md:group-hover:opacity-100 md:h-80 md:rounded-xl">
										<h3 class="m-0 text-green-base md:text-white text-lg first:text-xl font-bold px-12 rounded-xl">{post.data.title}</h3>
										<p class="m-0 text-xs text-black md:text-white opacity-80"><FormattedDate date={post.data.pubDate} /></p>
										
										<ul class="flex flex-wrap justify-center gap-2 mt-2">
											{post.data.tags.map((tag, index) => (
												<li data-key={index} class="text-xs bg-green-base text-white px-2 py-1 rounded-md">{tag}</li>

											))}
										</ul>

									</div>
						
								</a>
							
							</li>))}
						</ul>
	
					</div>
				</section>

				<SocialMedia />

			</main>

			<Footer />

		</div>

	</body>
</html>
