---
import BaseHead from '../../components/BaseHead.astro';
import Navigation from '../../components/Navigation.astro';
import TopNav from '../../components/Top-nav.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_BLOG } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=GTM-P3R88NLC"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'GTM-P3R88NLC');
		</script>
		
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.calcul {
				width: cal(50% - 1rem);
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
		</style>
	</head>
	<body class=" bg-white-light">
		
		<div class="flex flex-col min-h-dvh">

			<TopNav />

			<!-- Head -->
			<header class=" bg-gradient-head-green-light bg-center bg-cover">
				
				<Navigation />

				<!-- Container -->
				<div class="container">

					<!-- Head - Content -->
					<div class=" relative flex flex-col pt-16 pb-16">

						<div class=" z-10 flex flex-row justify-center pt-4 pb-4">
							<h2 class=" text-center uppercase text-6xl xl:text-7xl font-bold ">{SITE_BLOG}</h2>
						</div>

					</div>
				</div>

			</header>

			<main class=" m-4 sm:m-0 pb-20">
				<section class=" container">
					<!-- Tag -->
					<div class=" pl-6 pb-2 flex flex-row items-center gap-4">
						<p class="text-md">Filter :</p>
						<ul class=" flex flex-row flex-wrap gap-1 justify-start items-center pb-2 pr-10 md:pr-20">
							<li class=" px-4 pt-2 pb-1 max-w-max rounded-lg bg-yellow-base hover:bg-yellow-dark text-md">
								<a class="text-white" href="/blog">All</a>
							</li>
							{tags.map((tag) => (
								<li class=" relative px-4 py-1 max-w-max rounded-lg text-white text-md">
									<a class="
										hover:before:content 
										hover:before:absolute 
										hover:before:w-1/2 
										hover:before:h-[12px]
										hover:before:rounded-lg 
										hover:before:right-[5px] 
										hover:before:bottom-[10px] 
										hover:before:bg-yellow-base
										hover:before:-z-10"
									href={`/blog/${tag}/`}>#{tag}</a>
								</li>))}
						</ul>
					</div>

					<!-- Card -->
					<ul class=" grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 gap-y-6 list-none m-0 p-0 md:gap-4">
						{
							posts.map((post) => (
								<li class=" first:max-w-full md:first:col-start-1 md:first:col-end-3 lg:first:col-start-1 lg:first:col-end-4 w-full first:mb-4 text-center md:first:text-center md:first:mb-0">
									<a class=" block" href={`/blog/${post.slug}/`}>

										<img class=" w-full h-72 mb-2 rounded-xl grayscale hover:grayscale-0" src={post.data.heroImage} alt="" />
										<h3 class=" m-0 text-black first:text-2xl text-sm font-bold px-12">{post.data.title}</h3>
										<p class=" m-0 text-black text-xs"><FormattedDate date={post.data.pubDate} /></p>
										<ul class=" flex flex-row wrap justify-center">
											<li class="text-xs">{post.data.tags}</li>
										</ul>
									</a>
								</li>
							))
						}
					</ul>
				</section>
			</main>

			<Footer />

		</div>

	</body>
</html>
