---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const tags = [...new Set(posts.map((post) => post.data.tags).flat())];

---

<!doctype html>
<html lang="en">
	<head>
        <title>{SITE_TITLE}</title>
		<!-- Google tag (gtag.js) -->
		<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=MEASUREMENT_ID"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'MEASUREMENT_ID');
		</script>

		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body class="bg-blue-base">

        <!-- PAGE INTRO -->

        <div id="intro" class="h-screen flex flex-col justify-center items-center opacity-0 scale-95 transition-all duration-1000 ease-in-out">
            <p id="intro-text" class="text-base lg:text-3xl font-gliker font-bold uppercase text-white opacity-0 scale-95 transition-all duration-700 ease-in-out">
                Mathilde <span class="font-avenir">DECOUX</span>
            </p>
        
            <h1 id="intro-title" class="text-4xl sm:text-6xl md:text-8xl lg:text-9xl font-gliker font-bold text-white uppercase opacity-0 scale-95 transition-all duration-700 ease-in-out">
                Portfolio
            </h1>
        
            <ul id="intro-tags" class="p-2 hidden md:flex md:flex-row md:flex-wrap md:justify-center md:gap-4 opacity-0 scale-95 transition-all duration-700 ease-in-out">
                {tags.map((tag) => (
                    <li class="md:py-1 md:px-4 text-white h-5 flex">
                        <a class="relative text-white text-sm md:text-lg" href={`/blog/${tag}/`}>
                            #{tag}
                        </a>
                    </li>
                ))}
            </ul>
        </div>   
    
    </body>    
    
    <script type="module" src="/script/script.js"></script>

</html>