---
import BaseHead from '../components/BaseHead.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import FilAriane from '../components/FilAriane.astro'

import { SITE_TITLE, SITE_DESCRIPTION, SITE_BLOG } from '../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const tags = [...new Set(posts.map((post) => post.data.tags).flat())];

---

<!doctype html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=GTM-P3R88NLC"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'GTM-P3R88NLC');
		</script>

		<!-- Filtre Catégorie -->
		<script>
			document.addEventListener("DOMContentLoaded", () => {
			const button = document.getElementById("filter-button");
			const menu = document.getElementById("filter-menu");
		
			if (button) {
				button.addEventListener("click", () => { 
					if (menu) menu.classList.toggle("hidden");
				});
			}
		
			document.addEventListener("click", (event) => {
				if (menu) menu.classList.add("hidden");

				if (button && menu && event.target instanceof Node) {
					if (!button.contains(event.target) && !menu.contains(event.target)) {
						menu.classList.add("hidden");
					}
				}
			});
			});
		</script>
		
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.calcul {
				width: calc(50% - 1rem);
			}

			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
		</style>
	</head>
	<body class=" bg-white-light">

		<!-- Head -->
		<header class=" bg-gradient-head-green-light bg-center bg-cover">
			
			<Navigation />

			<!-- Container -->
			<div class="container">

				<!-- Head - Content -->
				<div class=" relative flex flex-col pt-16 pb-16">

					<div class=" z-10 flex flex-row justify-center pt-4 pb-4">
						<h2 class=" text-center uppercase text-6xl xl:text-7xl font-bold ">{SITE_BLOG}</h2>
					</div>

					<FilAriane />

				</div>
			</div>

		</header>

		<main class=" m-4 sm:m-0">

			<section class=" pb-8">
				<div class=" container">
					<!-- Tag -->
					<div class="pb-2 flex flex-row items-center justify-end gap-4">
						<div class=" relative">
							<!-- Bouton Filtrer par Catégorie -->
							<button class=" px-4 py-2 bg-yellow-base hover:bg-yellow-dark text-white text-sm rounded-lg" id="filter-button">Filtrer par catégorie</button>
							
							<!-- Liste déroulante -->
							<ul id="filter-menu" class="hidden absolute -left-[63px] mt-2 w-56 bg-white border shadow-lg rounded-lg overflow-hidden z-50">
								<li class="py-2 px-4 border-b hover:bg-gray-100">
									<a class="block w-full text-sm text-black" href="/blog">Toutes les catégories</a>
								</li>

								{tags.map((tag) => (<li key={tag} class="py-2 px-4 border-b hover:bg-gray-100">
									<a class="block w-full text-sm text-black" href={`/blog/${tag}/`}>
									{tag}
									</a>
								</li>))}
							</ul>
						</div>
					</div>

					<!-- Card -->
					<div>
						<slot />
					</div>
				</div>
			</section>
		</main>

		<Footer />
	</body>
</html>
